<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "mark-logo.jpg", class: "navbar-logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active nav-link"><%= link_to "Home", root_path %></li>
      <li class="nav-link"><%= link_to "About us", about_path %></li>
      <li class="nav-link"><%= link_to "Posts", posts_path %></li>
      <li class="nav-link"><%= link_to "Services", packages_path %></li>
      <li class="nav-link"><%= link_to "Rentals", rentals_path %></li>
    </ul>

  </div>
</nav>
