<div class="page-title">
    <h1 class="index-header">Rentals</h1>
</div>

<div class="rental-index mb-5">
  <% @rentals.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |rental| %>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="cardbanner card-img-top">
             <img class="card-img-top" src="<%= cl_image_path rental.photo.key, height: 300, crop: :fill %>" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">CZK <%= rental.price %>/mo</h5>
              <p class="card-text"><%= rental.size %> m² <%= rental.bed %> br <%= rental.bath %> ba</p>

              <p class="card-text"><%= rental.address %></p>
            </div>
             <%= link_to "", rental_path(rental), class: "stretched-link" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
